.container {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background-image: url(../../components/images//JPG/light\ oak\ 2.jpeg);
    background-position: center;
    object-fit: cover;
}
.box {
    width: 100%;
    text-align: center;
}

.column {
    width: 100%;
    height: 100%;
}

.line {
    border-top: 40px solid red;
    padding-top: 20px;
}

.logo {
    width: 20%;
    font-size: 80%;
    height: auto;
}

.column {
    width: 100%;
    height: 100%;
}

.logo_img {
    width: 140px;
    margin: 12px 30%;
}

.box h2 {
    color: white;
    border-top: 40px solid red;
    padding-top: 50px;
}
.box p {
    color: black;
    margin: 40px 25%;
    /* border-bottom: 2px solid red; */
}
.box p:last-of-type {
    margin-bottom: 10px;
}

