.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../../components/images//JPG/light\ oak\ 2.jpeg);
    background-position: center;
    object-fit: cover;
}
.box {
    width: 90%;
}

.column {
    width: 100%;
    height: 100%;
}

.line {
    background-color: rgb(62, 56, 56);
    width: 100%;
    height: 23%;
    border-bottom: 3px solid rgb(90, 25, 25);
    padding-left: 3%;
    color: white;
    opacity: 0.7;
}
.logo {
    width: 10%;
    font-size: 80%;
    height: 100%;
}

.column {
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.font {
  font-size: 5em;
}

