* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(./components//styles//fonts/Comfortaa-VariableFont_wght.ttf) format('truetype');
}

.font {
    font-size: 6vw;
    font-family: 'Comfortaa';
}
.font_medium {
    font-size: 3vw;
    font-family: 'Comfortaa';
}
.font_small {
    font-size: 2vw;
    font-family: 'Comfortaa';
}