.slider-container {
    width: 100%;
    overflow: hidden;
}

.link-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 0;
  }


.link {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: red;
    color: #eee;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    opacity: 0.9    ;
}

.link.active {
    opacity: 1;
}

.link:hover {
    background-color: black;
    color: white;
}