.item-menu {
    text-align: center;
    background-image: url(../images/JPG/bamboo.jpg);
    object-fit: cover;
    background-position: center;
    border-top: 20px solid black;
    z-index: 90;
}

.item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-menu h1 {
    margin-top: 30px;
}

.item-card {
    width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    /* background-color: rgb(77, 92, 77); */
    background-color: #800000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.1),
        0 0 8px rgba(255, 0, 0, 0.3),
        0 0 12px rgba(0, 255, 0, 0.3),
        0 0 16px rgba(0, 0, 255, 0.3);
    perspective: 1000px;
    transition: transform 0.5s;
}

.item-card:hover {
    transform: rotateY(10deg) translateY(-5px);
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    margin-top: 20px;
}

.name_box {

    width: 40%;
}
.box .price_box {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.item-photo {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s;
}

.item-card:hover .item-photo {
    transform: scale(1.05);
}

.item-card h2 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    transform: translateZ(40px);
}

.item-card p {
    color: white;
    line-height: 30px;
}

.item-card .font_green {
    color: #9ACD32;
}

.item-weight {
    color: #ffff;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.modal-content {
    position: relative;
    /* background-color: #800000; */
    background-color: rgb(77, 92, 77);
    color: white;
    padding: 20px;
    border: 2px solid #888;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: auto;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    perspective: 1000px;
    transition: transform 1s;
}

.modal-content:hover {
    transform: rotateY(5deg) translateY(-5px);
}

.modal-content h2 {
    text-transform: uppercase;
    transform: translateZ(40px);
    margin: 10px 0;
}

.close-button {
    position: absolute;
    color: #aaa;
    top: 0;
    right: 5px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #9ACD32;
    text-decoration: none;
    cursor: pointer;
}

.modal .font_green {
    color: #9ACD32;
}

.modal p {
    line-height: 30px;
}

.modal img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 15px;
    color: #eee;
    transition: transform 0.5s;
}

tr > td {
    width: calc(100% /3);
}


@media screen and (max-height: 550px) {
    .modal-content {
        /* padding: 20px; */
        width: 70%;
        /* height: 450px; */
    }

    .modal-content h2 {
        font-size: 15px;
    }

    .modal img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 15px;
        transition: transform 0.5s;
    }

}